#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #646cffaa;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.top-icons {
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    padding-bottom: 4em;
}

.top-icons img {
    height: 24px;
    cursor: pointer;
}

.title-content {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2em;
}

.text-title {
    text-transform: uppercase;
    padding: bottom 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.Download-for-mac-button {
    display: flex;
    justify-content: flex-start;
}

.Download-for-mac-button button {
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 2em;
}

.Open-discord-button {
    display: flex;
    justify-content: flex-start;
}

.Open-discord-button button {
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: none;
}
